.update-window-container{
    display: flex;
    flex-direction: column;
    width: 25vw;
    z-index: 100;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.update-window-container-params{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    width: 25vw;
    z-index: 100;
  
}
.update-window-items-container{
    display: flex;
    flex-direction: column;
}
.update-window-inputs-container{
    display: flex;
    flex-direction: column; 
}
input[type="text"],
input[type="date"],
input[type="tel"],
input[type="number"],
select {
    font-size: 14px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #061f33;

    outline: none;
}
.update-window-item{
    padding: 10px;
    font-size: 14px;
    font-weight:bold   ;
    height: 4.5vh;
}
.update-window-input{
    padding: 10px;
    height: 4vh;
}
.close-update-window-button{
    position: absolute;
    right: 0;
    top:0;
    width: 3vw;
    background-color: #323232;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}